!!! 5
html
  head
    title 동구밭 관리
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    link(rel="stylesheet", href="/css/style.imageselector.css")
  body
    div(id="wrapper")
      ul
        for file in files
          li
            image(src="#{file.path}", class="#{file.link}", width=70)
      div.action
        button.close 닫기

    script(src="/js/jquery.js")
    script(src="/js/underscore.js")
    script(src="/js/backbone.js")
    script(src="/js/imageSelector.js")
    script.
      App.start('#{type}');
