!!! 5
html
  head
    title 동구밭 관리
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="css/jumbotron.css")
    link(rel="stylesheet", href="css/style.css")
  body
    div.container
      div.header
        ul.nav.nav-pills.pull-right
          li
            a(href="/") Home
          li.active
            a(href="/crops") 작물관리
          li
            a(href="/userCrops") 오픈작물
        h3.text-muted 동구밭 

      div(id="wrapper") 
        section(id="basic")
          h2 기본 정보
          p 아래 빈칸의 정보를 수정후 저장하세요. 
          img(id="cropIcon" src="", width=62)
          img(id="cropImage" src="", width=62)

          table
            caption 기본정보
            thead
              tr
                th(width="100px") 
                th(width="400px") 
            tbody
              tr
                th 이름
                td
                  input(name="name", value="")

              tr 
                th 대표 아이콘
                td
                  input(name="icon", value="")
                  button(class="image_selector v_cropIcon_") 파일 선택
              tr
                th 대표 이미지
                td
                  input(name="img", value="")
                  button(class="image_selector v_cropImg_") 파일 선택
              tr
                th 재배 난이도
                td 
                  input(name="difficulty", value="")
              tr
                th 재배 기간
                td
                  input(name="period", value="")
          div
            button.reset 되돌리기
            button.save 저장

        section(id="steps", class="alt")
          h2 생육 단계
          p 수정하려면 아래 STEP1 중에 하나를 선택하고, STEP2 의 빈칸을 클릭해서 색칠하세요! 그리고 STEP3 의 저장을 누르세요. 

          h4 STEP1. 
          ul(class="list-inline step")
            li(class="select_step color1") 씨뿌리기
            li(class="select_step color2") 모종키우기
            li(class="select_step color3") 옮겨심기
            li(class="select_step color4") 작물키우기
            li(class="select_step color5") 수확기
            li(class="select_step color6") 휴농기
            li(class="current_select") 왼쪽 단계를 선택하세요!

          h4 STEP2.
          ul(class="list-inline chart")
            - var i, j, step;
            - for (i=0; i<12; ++i){
              ul(class="block_month list-inline")
                li.month #{i+1}월  
                - for(j=0; j<3; ++j){
                - step = crop.graph[i*3+j]
                    li(class="block color#{step} index_#{i*3+j}")
                - }
            - }

          h4 STEP3.
          div
            button.reset 되돌리기
            button.save 저장

        section(id="missions")
          h2 작물 키우기
          p 미션을 추가하거나 각 미션들을 다시 수정할 수 있습니다. 미션을 수정하려면, 빈칸을 수정후 저장을 누르세요. 미션을 새로 추가하려면 맨 아래 추가 버튼을 누르세요!

          div
            ol
            div.action
              button.reset 되돌리기
              button.save 저장
              button.add 추가

      div#layer.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              button(type="button",class="close",data-dismiss="modal",aria-hidden="true") &times;
              h4.modal-title Create a new mission
            div.modal-body
              form(role="form")
                div.form-group
                  image.icon(src="/images/noImage.jpg")
                  input(type="file", id="ipFile")
                div.form-group
                  label(for="ipTitle") 미션 이름
                  input(type="text", class="form-control", id="ipTitle", placeholder="미션을 입력하세요.")
                div.form-group
                  label(for="ipGuide") 가이드
                  input(type="text", class="form-control", id="ipGuide", placeholder="가이드를 선택하세요.")
                div.form-group
                  label(for="ipDay") 발생일
                  input(type="number", class="form-control", id="ipDay", value="0", min="0")

            div.modal-footer
              button(type="button", class="btn btn-default", data-dismiss="modal") Close
              button(type="button", class="btn btn-primary") Save changes

    - var missionStr = JSON.stringify(missions)
    - var cropStr = JSON.stringify(crop)

    script(src="/js/jquery.js")
    script(src="/js/underscore.js")
    script(src="/js/backbone.js")
    script(src="/js/bootstrap.js")
    script.
      App.start(!{cropStr}, !{missionStr});
