body {
  padding-top: 50px;
}

section : {
	margin: 0; padding: 0;
}
.header {
	margin-bottom: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.center {
	text-align: center;
}

.container {
	max-width: 1024px;
}

#crops {
	padding: 20px;
	margin-bottom: 0px;
}

#crops li {
	padding-bottom: 10px
}

#crops li div{
	text-align: center;
	font-size: 12px;
	font-family: "나눔고딕"
}

#crops li:hover {
	background-color: #837;
	cursor: pointer;
	color : #fff;
}

#sidebar {
	top : 109px;
    width: 135px;
    position: absolute;
}
#sidebar .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#sidebar .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#tabs {
    width: 80%;
    position: relative;
    left: 134px;
    border-left: 1px solid #ccc;
}

#tabs .tab.active {
    display: block;
}
#tabs .tab {
    display: none;
}

.chart .block {
	top : 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 1px solid #ccc;
	margin: 1px;
}
.chart ul {
	border-left: 1px solid #ccc;
	margin-right: 5px;
	display: inline-block; 
	position: relative;
}
.chart ul li {position: relative;}
.chart .block_month {height: 60px}
.chart .month {position: absolute;}
.color1 { background-color: #c4e5a3; }
.color2 { background-color: #77be4a; }
.color3 { background-color: #ffd97b; }
.color4 { background-color: #378240; }
.color5 { background-color: #ef9d78; }
.color6 { background-color: #e6e6e6; }
.step .current_select {margin-left: 50px;}

ul.step li{
	border: 1px solid #ccc;
	font-family: "verdana";
	padding: 5px;
	cursor: pointer;
}


section {
	padding: 10px;
}
section h3 {
	padding-top: 0;
	margin-top: 0;
}
section.alt{
	background-color: #eef;
}



/* 미션 수정 */
#missions > div {
	width: 800px;
}

#missions .action {
	position: relative;
}

#missions .add {
	position: absolute;
	right: 0px;
}

#missions ol {
	width: 100%;
	border-bottom: 1px solid #ccc;
}

#missions input.day {
	text-align: center;
	width: 30px;
}

#missions .item {
	position: relative;
}

#missions .item .title {
	width: 200px;
}

/* 이미지 셀렉터 */

button.cropIcon, button.cropImg {
	position: absolute;
	margin-left: 5px;
}