body, div, ul, li, img{
	padding: 0;
	margin: 0;
}

#wrapper {
	padding: 10px;
}

ul {
	position: relative;
	list-style: none;
}

ul li {
	padding: 5px 2px 0px 2px;
	float: left;
	cursor: pointer;
}

ul li:hover {
	background-color: #234;
}

ul li.on {
	background-color: #458;
}

.action {
	clear: both;
}
