!!! 5
html
  head
    title 동구밭 관리
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="css/jumbotron.css")
    link(rel="stylesheet", href="css/style.css")
  body
    div.container
      div.header
        ul.nav.nav-pills.pull-right
          li.active
            a(href="#") Home
          li
            a(href="/crops") 작물관리
          li
            a(href="#") 오픈작물
          li
            a(href="#") 절기달력

        h3.text-muted 동구밭 

      div.jumbotron
        h1 Welcome,
        p.lead 패스워드나 비밀번호 따위는 아직 없습니다. 
        p
          a(class="btn btn-lg btn-success", href="/crops", role="button") 작물 관리

      div.row.marketing
        div.col-lg-6
          h4 Subheading
          p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.

        div.col-lg-6
          h4 Subheading
          p dlsjfl

      div.footer.center
        p &copy; dong9.org 2013
