!!! 5
html
  head
    title 동구밭 관리
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    link(rel="shortcut icon", href="/favicon.png")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/css/jumbotron.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    #wrap.container
      div.header
        ul.nav.nav-pills.pull-right
          li
            a(href="/") Home
          li.active
            a(href="/crops") 작물관리
          li
            a(href="#") 오픈작물
          li
            a(href="#") 절기달력
            
        h3.text-muted
          a(href="/") 동구밭 
          sapn > 
          a(href="/crops") 작물관리
      
      #sidebar
        div.list-group
          a(href="#", class="list-group-item active _tab tb_manage_crop") 작물 
          a(href="#", class="list-group-item _tab tb_images") 이미지
          a(href="#", class="list-group-item _tab tb_new_crop") 새 작물 추가
      
      #tabs
        div.tab.manage_crop.active
          ul(id="crops", class="list-inline")
            for crop in crops
              li(id="crop_#{crop.id}") 
                a(href="/crops/#{crop.id}")
                  image(src="http://dong9.org/app/#{version}/images/#{crop.image}")
                div.name #{crop.name}
        div.tab.images

        div.tab.new_crop

      div.footer.center
        p &copy; dong9.org 2013

    script(src="js/jquery.js")
    script(src="js/underscore.js")
    script(src="js/backbone.js")
    script(src="js/main.js")
